*.html linguist-vendored
*.css linguist-vendored
*.c linguist-vendored=false
*.h linguist-vendored=false
*.cc linguist-vendored=false
*.hpp linguist-vendored=false
*.sh linguist-vendored=false
*.py linguist-vendored
*.js linguist-vendored=false
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
