<!doctype html>
<html>
  <head>
    <title>CPP Server Ref</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="public/js/index.js"></script>
  </head>
  <body>
    <p><strong>Index</strong></p>
    <input type="button" onclick="getRecords()" value="Get Records">
    <div>
      <table id="get-records-table">
      </table>
    </div>
  </body>
</html>